<div class="ft_inner">
    <div id="ft_top">
        <div id="ft_logo">
            <img src="/resources/static/dist/images/common/ft_logo.png" alt="SHINSEGAE">
        </div>
        <div id="ft_links">
            <div class="item"><a href="javascript:;">이용약관</a></div>
            <div class="item"><a href="javascript:;">개인정보처리방침</a></div>
            <div class="item"><a href="javascript:;">이메일주소무단수집거부</a></div>
            <div class="item cb"><a href="javascript:;">법인영업</a></div>
        </div>
    </div>
    <div id="ft_bottom">
        <div id="ft_company">
            (주)신세계
        </div>
        <div id="ft_info">
            서울시 서초구 신반포로194 고속버스터미널 신관  |  대표이사 : 
            박주형  |   개인정보관리 책임자 : 김선진  |   사업자등록번호 : 201-
            81-32195  |   고객만족센터 : 02-3406-6973 운영시간 : 평일
            10:00 ~ 17:00 (점심시간 12:00~13:00)
        </div>
        <div id="ft_copy">Copyright SHINSEGAE. All Rights Reserved.</div>
    </div>
</div>